* {
  box-sizing: border-box;
}

label,
input,
button {
  display: block;
}

span {
  cursor: pointer;
}

button {
  margin-top: 5px;
  width: 100px;
  height: 30px;
  background-color: rgb(80, 240, 106);
  border-radius: 10px;
}
